USE [master]
GO
/****** Object:  Database [dndx_providers_1]    Script Date: 03/24/2012 15:27:20 ******/
CREATE DATABASE [dndx_providers_1] ON  PRIMARY 
( NAME = N'dndx_providers_1', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dndx_providers_1.mdf' , SIZE = 5922304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'dndx_providers_1_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dndx_providers_1_log.ldf' , SIZE = 13632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dndx_providers_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dndx_providers_1]
GO
/****** Object:  Table [dbo].[taxonomy_code]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taxonomy_code](
	[Code] [varchar](10) NULL,
	[Type] [varchar](76) NULL,
	[Classification] [varchar](91) NULL,
	[Specialization] [varchar](73) NULL,
	[Definition] [varchar](2000) NULL,
	[Notes] [varchar](1407) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [idx_taxonomy] ON [dbo].[taxonomy_code] 
(
	[Code] ASC,
	[Type] ASC,
	[Classification] ASC,
	[Specialization] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_time]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_time](
	[dim_key] [bigint] NULL,
	[dim_value] [datetime] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_time] ON [dbo].[dim_time] 
(
	[dim_key] ASC,
	[dim_value] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_text]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dim_text](
	[dim_key] [bigint] NULL,
	[dim_value] [varchar](400) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [idx_text] ON [dbo].[dim_text] 
(
	[dim_key] ASC,
	[dim_value] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_integer]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_integer](
	[dim_key] [bigint] NULL,
	[dim_value] [bigint] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_integer] ON [dbo].[dim_integer] 
(
	[dim_key] ASC,
	[dim_value] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_double]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_double](
	[dim_key] [bigint] NOT NULL,
	[dim_value] [float] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_double] ON [dbo].[dim_double] 
(
	[dim_key] ASC,
	[dim_value] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baltb_npi_1]    Script Date: 03/24/2012 15:27:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baltb_npi_1](
	[NPI_PK] [bigint] NULL,
	[ENTITY_TYPE_CODE] [bigint] NULL,
	[REPLACEMENT_NPI] [bigint] NULL,
	[EMPLOYER_IDENTIFICATION_NUMBER_EIN] [bigint] NULL,
	[PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME] [bigint] NULL,
	[PROVIDER_LAST_NAME_LEGAL_NAME] [bigint] NULL,
	[PROVIDER_FIRST_NAME] [bigint] NULL,
	[PROVIDER_MIDDLE_NAME] [bigint] NULL,
	[PROVIDER_NAME_PREFIX_TEXT] [bigint] NULL,
	[PROVIDER_NAME_SUFFIX_TEXT] [bigint] NULL,
	[PROVIDER_CREDENTIAL_TEXT] [bigint] NULL,
	[PROVIDER_OTHER_ORGANIZATION_NAME] [bigint] NULL,
	[PROVIDER_OTHER_ORGANIZATION_NAME_TYPE_CODE] [bigint] NULL,
	[PROVIDER_OTHER_LAST_NAME] [bigint] NULL,
	[PROVIDER_OTHER_FIRST_NAME] [bigint] NULL,
	[PROVIDER_OTHER_MIDDLE_NAME] [bigint] NULL,
	[PROVIDER_OTHER_NAME_PREFIX_TEXT] [bigint] NULL,
	[PROVIDER_OTHER_NAME_SUFFIX_TEXT] [bigint] NULL,
	[PROVIDER_OTHER_CREDENTIAL_TEXT] [bigint] NULL,
	[PROVIDER_OTHER_LAST_NAME_TYPE_CODE] [bigint] NULL,
	[PROVIDER_FIRST_LINE_BUSINESS_MAILING_ADDRESS] [bigint] NULL,
	[PROVIDER_SECOND_LINE_BUSINESS_MAILING_ADDRESS] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_CITY_NAME] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_STATE_NAME] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_POSTAL_CODE] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_TELEPHONE_NUMBER] [bigint] NULL,
	[PROVIDER_BUSINESS_MAILING_ADDRESS_FAX_NUMBER] [bigint] NULL,
	[PROVIDER_FIRST_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS] [bigint] NULL,
	[PROVIDER_SECOND_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_CITY_NAME] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_STATE_NAME] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_POSTAL_CODE] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_TELEPHONE_NUMBER] [bigint] NULL,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_FAX_NUMBER] [bigint] NULL,
	[PROVIDER_ENUMERATION_DATE] [bigint] NULL,
	[LAST_UPDATE_DATE] [bigint] NULL,
	[NPI_DEACTIVATION_REASON_CODE] [bigint] NULL,
	[NPI_DEACTIVATION_DATE] [bigint] NULL,
	[NPI_REACTIVATION_DATE] [bigint] NULL,
	[PROVIDER_GENDER_CODE] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_LAST_NAME] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_FIRST_NAME] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_MIDDLE_NAME] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_TITLE_OR_POSITION] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_TELEPHONE_NUMBER] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_1] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_1] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_1] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_1] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_2] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_2] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_2] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_2] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_3] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_3] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_3] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_3] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_4] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_4] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_4] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_4] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_5] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_5] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_5] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_5] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_6] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_6] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_6] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_6] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_7] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_7] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_7] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_7] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_8] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_8] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_8] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_8] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_9] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_9] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_9] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_9] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_10] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_10] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_10] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_10] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_11] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_11] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_11] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_11] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_12] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_12] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_12] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_12] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_13] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_13] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_13] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_13] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_14] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_14] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_14] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_14] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_15] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_15] [bigint] NULL,
	[PROVIDER_LICENSE_NUMBER_STATE_CODE_15] [bigint] NULL,
	[HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_15] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_1] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_1] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_1] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_1] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_2] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_2] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_2] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_2] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_3] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_3] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_3] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_3] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_4] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_4] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_4] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_4] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_5] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_5] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_5] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_5] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_6] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_6] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_6] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_6] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_7] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_7] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_7] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_7] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_8] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_8] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_8] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_8] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_9] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_9] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_9] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_9] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_10] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_10] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_10] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_10] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_11] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_11] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_11] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_11] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_12] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_12] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_12] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_12] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_13] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_13] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_13] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_13] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_14] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_14] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_14] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_14] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_15] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_15] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_15] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_15] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_16] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_16] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_16] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_16] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_17] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_17] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_17] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_17] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_18] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_18] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_18] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_18] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_19] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_19] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_19] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_19] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_20] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_20] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_20] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_20] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_21] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_21] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_21] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_21] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_22] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_22] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_22] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_22] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_23] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_23] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_23] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_23] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_24] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_24] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_24] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_24] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_25] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_25] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_25] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_25] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_26] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_26] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_26] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_26] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_27] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_27] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_27] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_27] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_28] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_28] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_28] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_28] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_29] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_29] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_29] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_29] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_30] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_30] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_30] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_30] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_31] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_31] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_31] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_31] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_32] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_32] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_32] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_32] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_33] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_33] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_33] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_33] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_34] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_34] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_34] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_34] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_35] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_35] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_35] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_35] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_36] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_36] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_36] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_36] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_37] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_37] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_37] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_37] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_38] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_38] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_38] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_38] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_39] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_39] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_39] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_39] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_40] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_40] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_40] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_40] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_41] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_41] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_41] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_41] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_42] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_42] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_42] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_42] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_43] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_43] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_43] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_43] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_44] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_44] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_44] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_44] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_45] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_45] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_45] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_45] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_46] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_46] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_46] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_46] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_47] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_47] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_47] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_47] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_48] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_48] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_48] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_48] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_49] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_49] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_49] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_49] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_50] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_TYPE_CODE_50] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_STATE_50] [bigint] NULL,
	[OTHER_PROVIDER_IDENTIFIER_ISSUER_50] [bigint] NULL,
	[IS_SOLE_PROPRIETOR] [bigint] NULL,
	[IS_ORGANIZATION_SUBPART] [bigint] NULL,
	[PARENT_ORGANIZATION_LBN] [bigint] NULL,
	[PARENT_ORGANIZATION_TIN] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_NAME_PREFIX_TEXT] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_NAME_SUFFIX_TEXT] [bigint] NULL,
	[AUTHORIZED_OFFICIAL_CREDENTIAL_TEXT] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_1] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_2] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_3] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_4] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_5] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_6] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_7] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_8] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_9] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_10] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_11] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_12] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_13] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_14] [bigint] NULL,
	[HEALTHCARE_PROVIDER_TAXONOMY_GROUP_15] [bigint] NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_npi_1] ON [dbo].[baltb_npi_1] 
(
	[NPI_PK] ASC,
	[PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME] ASC,
	[PROVIDER_LAST_NAME_LEGAL_NAME] ASC,
	[PROVIDER_FIRST_NAME] ASC,
	[PROVIDER_MIDDLE_NAME] ASC,
	[PROVIDER_NAME_PREFIX_TEXT] ASC,
	[PROVIDER_NAME_SUFFIX_TEXT] ASC,
	[PROVIDER_CREDENTIAL_TEXT] ASC,
	[PROVIDER_FIRST_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS] ASC,
	[PROVIDER_SECOND_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS] ASC,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_CITY_NAME] ASC,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_STATE_NAME] ASC,
	[PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_POSTAL_CODE] ASC,
	[PROVIDER_GENDER_CODE] ASC,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_1] ASC,
	[HEALTHCARE_PROVIDER_TAXONOMY_CODE_2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_provider_list]    Script Date: 03/24/2012 15:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_provider_list]
as
SELECT      baltb_npi_1.NPI_PK AS NPI, dim_text.dim_value AS OrgName, dim_text_1.dim_value AS LastName, dim_text_2.dim_value AS FirstName, 
                      dim_text_3.dim_value AS MiddleName, dim_text_4.dim_value AS Prefix, dim_text_5.dim_value AS Suffix, dim_text_6.dim_value AS ProfCredentials, 
                      dim_text_7.dim_value AS AddressLine1, dim_text_8.dim_value AS AddressLine2, dim_text_9.dim_value AS City, dim_text_10.dim_value AS StateOrProvince, 
                      dim_text_11.dim_value AS PostalCode, dim_text_12.dim_value AS Gender, dim_text_13.dim_value AS Taxonomy1, dim_text_14.dim_value AS Taxonomy2, 
                      
                      taxonomy_code.Type as TaxType1, 
                      taxonomy_code.Classification as TaxClass1, 
                      taxonomy_code.Specialization as TaxSpecialization1, 
                      taxonomy_code.Definition as TaxDefinition1, 
                      taxonomy_code.Notes as TaxNotes1, 
                      taxonomy_code_1.Type AS TaxType2, 
                      taxonomy_code_1.Classification AS TaxClass2, 
                      taxonomy_code_1.Specialization AS TaxSpecialization2, 
                      taxonomy_code_1.Definition AS TaxDefinition2, 
                      taxonomy_code_1.Notes AS TaxNotes2
FROM         dim_text AS dim_text_10 RIGHT OUTER JOIN
                      taxonomy_code AS taxonomy_code_1 RIGHT OUTER JOIN
                      dim_text AS dim_text_14 ON taxonomy_code_1.Code = dim_text_14.dim_value RIGHT OUTER JOIN
                      baltb_npi_1 ON dim_text_14.dim_key = baltb_npi_1.HEALTHCARE_PROVIDER_TAXONOMY_CODE_2 ON 
                      dim_text_10.dim_key = baltb_npi_1.PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_STATE_NAME LEFT OUTER JOIN
                      taxonomy_code LEFT OUTER JOIN
                      dim_text AS dim_text_13 ON taxonomy_code.Code = dim_text_13.dim_value ON 
                      baltb_npi_1.HEALTHCARE_PROVIDER_TAXONOMY_CODE_1 = dim_text_13.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_12 ON baltb_npi_1.PROVIDER_GENDER_CODE = dim_text_12.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_11 ON baltb_npi_1.PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_POSTAL_CODE = dim_text_11.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_9 ON baltb_npi_1.PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_CITY_NAME = dim_text_9.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_8 ON baltb_npi_1.PROVIDER_SECOND_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS = dim_text_8.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_7 ON baltb_npi_1.PROVIDER_FIRST_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS = dim_text_7.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_6 ON baltb_npi_1.PROVIDER_CREDENTIAL_TEXT = dim_text_6.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_5 ON baltb_npi_1.PROVIDER_NAME_SUFFIX_TEXT = dim_text_5.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_3 ON baltb_npi_1.PROVIDER_MIDDLE_NAME = dim_text_3.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_4 ON baltb_npi_1.PROVIDER_NAME_PREFIX_TEXT = dim_text_4.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_2 ON baltb_npi_1.PROVIDER_FIRST_NAME = dim_text_2.dim_key LEFT OUTER JOIN
                      dim_text AS dim_text_1 ON baltb_npi_1.PROVIDER_LAST_NAME_LEGAL_NAME = dim_text_1.dim_key LEFT OUTER JOIN
                      dim_text ON baltb_npi_1.PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME = dim_text.dim_key
GO
