USE BAL_VIEWS;
GO
CREATE VIEW [BVW_BAL_LOCATION-BSET_CRIME_STATS_CA]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as CRIME_ID_INT
,t3.[val] as ADDRESS_NBR_TXTS
,t2.[val] as ADDRESS_TXTS
,t4.[val] as ADDRESS_TYPE_TXTS
,t5.[val] as AGENCY_ID_INT
,t6.[val] as CALL_DATE_DTM
,t7.[val] as CITY_TXTS
,t8.[val] as COMMON_LOCATION_TXTS
,t9.[val] as NARRATIVE_TXTS
,t10.[val] as OFFENSE_DATE_DTM
,t11.[val] as ORIG_CRIMETYPE_NAME_TXTS
,t12.[val] as REPORT_DATE_DTM
,t13.[val] as STATE_TXTS
FROM 
[BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-CRIME_ID-INT] t1
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-ADDRESS-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-ADDRESS_NBR-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-ADDRESS_TYPE-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-AGENCY_ID-INT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-CALL_DATE-DTM]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-CITY-TXTS]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-COMMON_LOCATION-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-NARRATIVE-TXTS]  t9 ON  t9.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-OFFENSE_DATE-DTM]  t10 ON  t10.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-ORIG_CRIMETYPE_NAME-TXTS]  t11 ON  t11.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-REPORT_DATE-DTM]  t12 ON  t12.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_CA-STATE-TXTS]  t13 ON  t13.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_LOCATION-BSET_CRIME_STATS_DC]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as NID_INT
,t2.[val] as ANC_TXTS
,t3.[val] as BLOCKSITEADDRESS_TXTS
,t4.[val] as BUSINESSIMPROVEMENTDISTRICT_TXTS
,t5.[val] as CCN_INT
,t6.[val] as CCN_TXTS
,t7.[val] as CITY_TXTS
,t8.[val] as DISTRICT_TXTS
,t9.[val] as HOTSPOT2004NAME_TXTS
,t10.[val] as HOTSPOT2005NAME_TXTS
,t11.[val] as HOTSPOT2006NAME_TXTS
,t12.[val] as LASTMODIFIEDDATE_DTM
,t13.[val] as LATITUDE_FLT
,t14.[val] as LONGITUDE_FLT
,t15.[val] as METHOD_TXTS
,t16.[val] as NARRATIVE_TXTS
,t17.[val] as NEIGHBORHOODCLUSTER_TXTS
,t18.[val] as OFFENSE_TXTS
,t19.[val] as PSA_TXTS
,t20.[val] as REPORTDATETIME_DTM
,t21.[val] as SHIFT_TXTS
,t22.[val] as SMD_TXTS
,t23.[val] as STATE_TXTS
,t24.[val] as WARD_TXTS
FROM 
[BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-NID-INT] t1
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-ANC-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-BLOCKSITEADDRESS-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-BUSINESSIMPROVEMENTDISTRICT-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-CCN-INT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-CCN-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-CITY-TXTS]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-DISTRICT-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-HOTSPOT2004NAME-TXTS]  t9 ON  t9.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-HOTSPOT2005NAME-TXTS]  t10 ON  t10.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-HOTSPOT2006NAME-TXTS]  t11 ON  t11.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-LASTMODIFIEDDATE-DTM]  t12 ON  t12.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-LATITUDE-FLT]  t13 ON  t13.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-LONGITUDE-FLT]  t14 ON  t14.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-METHOD-TXTS]  t15 ON  t15.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-NARRATIVE-TXTS]  t16 ON  t16.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-NEIGHBORHOODCLUSTER-TXTS]  t17 ON  t17.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-OFFENSE-TXTS]  t18 ON  t18.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-PSA-TXTS]  t19 ON  t19.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-REPORTDATETIME-DTM]  t20 ON  t20.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-SHIFT-TXTS]  t21 ON  t21.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-SMD-TXTS]  t22 ON  t22.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-STATE-TXTS]  t23 ON  t23.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_CRIME_STATS_DC-WARD-TXTS]  t24 ON  t24.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_LOCATION-BSET_EMPLOYER]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as EMPLOYER_TXTS
,t2.[val] as CITY_TXTS
,t3.[val] as STATE_TXTS
,t4.[val] as STREETADDRESS_TXTS
,t5.[val] as ZIP_TXTS
FROM 
[BAL_LOCATION].dbo.[BSET_EMPLOYER-EMPLOYER-TXTS] t1
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_EMPLOYER-CITY-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_EMPLOYER-STATE-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_EMPLOYER-STREETADDRESS-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_EMPLOYER-ZIP-TXTS]  t5 ON  t5.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_LOCATION-BSET_INSURER_LOCATION]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as INSURANCECOMPANY_TXTS
,t2.[val] as ADDRESS1_TXTS
,t3.[val] as ADDRESS2_TXTS
,t4.[val] as CITY_TXTS
,t5.[val] as LOCATIONNAME_TXTS
,t6.[val] as STATE_TXTS
,t7.[val] as ZIP_TXTS
FROM 
[BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-INSURANCECOMPANY-TXTS] t1
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-ADDRESS1-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-ADDRESS2-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-CITY-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-LOCATIONNAME-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-STATE-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_INSURER_LOCATION-ZIP-TXTS]  t7 ON  t7.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_LOCATION-BSET_ZIP_CODE_LOCATION]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as ZIPCODE_TXTS
,t2.[val] as CITY_TXTS
,t3.[val] as COUNTRY_TXTS
,t4.[val] as COUNTY_TXTS
,t5.[val] as DECOMMISIONED_TXTS
,t6.[val] as HOUSINGUNITS_INT
,t7.[val] as INCOME_FLT
,t8.[val] as LANDAREA_FLT
,t9.[val] as LAT_FLT
,t10.[val] as LOCATION_TXTS
,t11.[val] as LOCATIONTEXT_TXTS
,t12.[val] as LONG_FLT
,t13.[val] as MILITARYRESTRICTIONCODES_TXTS
,t14.[val] as POPULATION_INT
,t15.[val] as PREFERRED_TXTS
,t16.[val] as STATE_TXTS
,t17.[val] as TYPE_TXTS
,t18.[val] as WATERAREA_FLT
,t19.[val] as WORLDREGION_TXTS
FROM 
[BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-ZIPCODE-TXTS] t1
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-CITY-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-COUNTRY-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-COUNTY-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-DECOMMISIONED-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-HOUSINGUNITS-INT]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-INCOME-FLT]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-LANDAREA-FLT]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-LAT-FLT]  t9 ON  t9.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-LOCATION-TXTS]  t10 ON  t10.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-LOCATIONTEXT-TXTS]  t11 ON  t11.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-LONG-FLT]  t12 ON  t12.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-MILITARYRESTRICTIONCODES-TXTS]  t13 ON  t13.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-POPULATION-INT]  t14 ON  t14.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-PREFERRED-TXTS]  t15 ON  t15.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-STATE-TXTS]  t16 ON  t16.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-TYPE-TXTS]  t17 ON  t17.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-WATERAREA-FLT]  t18 ON  t18.[key] = t1.[key]
LEFT OUTER JOIN [BAL_LOCATION].dbo.[BSET_ZIP_CODE_LOCATION-WORLDREGION-TXTS]  t19 ON  t19.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_BILL_TYPE_CODE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as BILLTYPECODE_TXTS
,t2.[val] as DESCRIPTION_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_BILL_TYPE_CODE-BILLTYPECODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_BILL_TYPE_CODE-DESCRIPTION-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_BUNDLING_EDIT]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as PRIMARYCODE_TXTS
,t4.[val] as DESCRIPTION_TXTS
,t3.[val] as MODALLOWED_TXTS
,t2.[val] as SECONDARYCODE_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT-PRIMARYCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT-SECONDARYCODE-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT-MODALLOWED-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT-DESCRIPTION-TXTS]  t4 ON  t4.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_BUNDLING_EDIT_MUTUAL_EXCLUDE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as CODE1_TXTS
,t2.[val] as CODE2_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT_MUTUAL_EXCLUDE-CODE1-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_BUNDLING_EDIT_MUTUAL_EXCLUDE-CODE2-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_DRG]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as DRGCODE_TXTS
,t2.[val] as DRGTITLE_TXTS
,t3.[val] as DRGTYPE_TXTS
,t4.[val] as MEDICALSERVICEGROUP_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRG-DRGCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRG-DRGTITLE-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRG-DRGTYPE-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRG-MEDICALSERVICEGROUP-TXTS]  t4 ON  t4.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_DRUG]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as NDC_CODE_TXTS
,t2.[val] as BRAND_NAME_TXTS
,t3.[val] as CATEGORY_TXTS
,t4.[val] as DRUG_ID_TXTS
,t5.[val] as GENERIC_PRODUCT_NAME_TXTS
,t6.[val] as GROUP_TXTS
,t7.[val] as ROUTE_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-NDC_CODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-BRAND_NAME-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-CATEGORY-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-DRUG_ID-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-GENERIC_PRODUCT_NAME-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-GROUP-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DRUG-ROUTE-TXTS]  t7 ON  t7.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_DURABLE_MEDICAL_EQUIPMENT]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as HCPCS_TXTS
,t7.[val] as CATG_TXTS
,t6.[val] as CEILING_FLT
,t4.[val] as DESCRIPTION_TXTS
,t5.[val] as FLOOR_FLT
,t8.[val] as JURIS_TXTS
,t2.[val] as MOD_TXTS
,t3.[val] as MOD2_TXTS
,t9.[val] as YEAR_INT
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-HCPCS-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-MOD-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-MOD2-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-DESCRIPTION-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-FLOOR-FLT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-CEILING-FLT]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-CATG-TXTS]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-JURIS-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_DURABLE_MEDICAL_EQUIPMENT-YEAR-INT]  t9 ON  t9.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_GPCI]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as LOCALITY_TXTS
,t2.[val] as CARRIERNO_TXTS
,t3.[val] as LOCALITYNAME_TXTS
,t4.[val] as MALPRACTICEGPCI_FLT
,t5.[val] as PRACTICEGPCI_FLT
,t6.[val] as WORKGPCI_FLT
,t7.[val] as YEAR_INT
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-LOCALITY-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-CARRIERNO-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-LOCALITYNAME-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-MALPRACTICEGPCI-FLT]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-PRACTICEGPCI-FLT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-WORKGPCI-FLT]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_GPCI-YEAR-INT]  t7 ON  t7.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_HOSPITAL_APC]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as PROCEDURECODE_TXTS
,t2.[val] as APC_TXTS
,t3.[val] as DESCRIPTION_TXTS
,t4.[val] as MINUNADJCOPAY_FLT
,t5.[val] as NATIONALUNADJCOPAY_FLT
,t6.[val] as PAYMENTRATE_FLT
,t7.[val] as RELATIVEWEIGHT_FLT
,t8.[val] as STATUSINDICATOR_TXTS
,t9.[val] as YEAR_INT
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-PROCEDURECODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-APC-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-DESCRIPTION-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-MINUNADJCOPAY-FLT]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-NATIONALUNADJCOPAY-FLT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-PAYMENTRATE-FLT]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-RELATIVEWEIGHT-FLT]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-STATUSINDICATOR-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_APC-YEAR-INT]  t9 ON  t9.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_HOSPITAL_STATUS_CODE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as HOSPSTATCODE_TXTS
,t2.[val] as HOSPSTATDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_STATUS_CODE-HOSPSTATCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_HOSPITAL_STATUS_CODE-HOSPSTATDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_ICD9_CODE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as DIAGCODE_TXTS
,t2.[val] as DIAGDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_ICD9_CODE-DIAGCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_ICD9_CODE-DIAGDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_LAB_FEE_SCHEDULE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as HCPC_TXTS
,t3.[val] as DESCRIPTION_TXTS
,t4.[val] as FLOOR_FLT
,t5.[val] as LIMIT_FLT
,t2.[val] as MODIFIER_TXTS
,t6.[val] as POINT_FLT
,t7.[val] as YEAR_INT
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-HCPC-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-MODIFIER-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-DESCRIPTION-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-FLOOR-FLT]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-LIMIT-FLT]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-POINT-FLT]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_LAB_FEE_SCHEDULE-YEAR-INT]  t7 ON  t7.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_MODIFIER]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as MOD_TXTS
,t2.[val] as MODDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_MODIFIER-MOD-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_MODIFIER-MODDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_NPFS]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as CPTCODE_TXTS
,t2.[val] as ASSTSURG_TXTS
,t3.[val] as BILATSURG_TXTS
,t4.[val] as COSURG_TXTS
,t5.[val] as DESCRIPTION_TXTS
,t6.[val] as ENDOBASE_TXTS
,t7.[val] as FACRVU_FLT
,t8.[val] as GLOBALDAYS_TXTS
,t9.[val] as INTRAOP_FLT
,t10.[val] as MOD_TXTS
,t11.[val] as MPRVU_FLT
,t12.[val] as MULTPROC_TXTS
,t13.[val] as NONFACRVU_FLT
,t14.[val] as PCTC_TXTS
,t15.[val] as POSTOP_FLT
,t16.[val] as PREOP_FLT
,t17.[val] as STATUSCODE_TXTS
,t18.[val] as TEAMSURG_TXTS
,t19.[val] as WORKRVU_FLT
,t20.[val] as YEAR_INT
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-CPTCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-ASSTSURG-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-BILATSURG-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-COSURG-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-DESCRIPTION-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-ENDOBASE-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-FACRVU-FLT]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-GLOBALDAYS-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-INTRAOP-FLT]  t9 ON  t9.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-MOD-TXTS]  t10 ON  t10.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-MPRVU-FLT]  t11 ON  t11.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-MULTPROC-TXTS]  t12 ON  t12.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-NONFACRVU-FLT]  t13 ON  t13.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-PCTC-TXTS]  t14 ON  t14.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-POSTOP-FLT]  t15 ON  t15.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-PREOP-FLT]  t16 ON  t16.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-STATUSCODE-TXTS]  t17 ON  t17.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-TEAMSURG-TXTS]  t18 ON  t18.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-WORKRVU-FLT]  t19 ON  t19.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_NPFS-YEAR-INT]  t20 ON  t20.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_PCTC]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as PCTC_TXTS
,t2.[val] as PCTCDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_PCTC-PCTC-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_PCTC-PCTCDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_PHYSICIAN_STATUS_CODE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as STATUSCODE_TXTS
,t2.[val] as STATUSCODEDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_PHYSICIAN_STATUS_CODE-STATUSCODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_PHYSICIAN_STATUS_CODE-STATUSCODEDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_PLACE_OF_SERVICE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as POS_TXTS
,t2.[val] as POSDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_PLACE_OF_SERVICE-POS-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_PLACE_OF_SERVICE-POSDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_TAXONOMY_CODE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as CODE_TXTS
,t2.[val] as CLASSIFICATION_TXTS
,t4.[val] as DEFINITION_TXTL
,t3.[val] as DEFINITION_TXTS
,t6.[val] as NOTES_TXTL
,t5.[val] as NOTES_TXTS
,t7.[val] as SPECIALIZATION_TXTS
,t8.[val] as TYPE_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-CODE-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-CLASSIFICATION-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-DEFINITION-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-DEFINITION-TXTL]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-NOTES-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-NOTES-TXTL]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-SPECIALIZATION-TXTS]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TAXONOMY_CODE-TYPE-TXTS]  t8 ON  t8.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_MEDICAL_CODE_SETS-BSET_TYPE_OF_SERVICE]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as TOS_TXTS
,t2.[val] as TOSDESC_TXTS
FROM 
[BAL_MEDICAL_CODE_SETS].dbo.[BSET_TYPE_OF_SERVICE-TOS-TXTS] t1
LEFT OUTER JOIN [BAL_MEDICAL_CODE_SETS].dbo.[BSET_TYPE_OF_SERVICE-TOSDESC-TXTS]  t2 ON  t2.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_PROVIDER-BSET_NPI]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as NPI_INT
,t2.[val] as AUTHORIZED_OFFICIAL_CREDENTIAL_TEXT_TXTS
,t3.[val] as AUTHORIZED_OFFICIAL_FIRST_NAME_TXTS
,t4.[val] as AUTHORIZED_OFFICIAL_LAST_NAME_TXTS
,t5.[val] as AUTHORIZED_OFFICIAL_MIDDLE_NAME_TXTS
,t6.[val] as AUTHORIZED_OFFICIAL_NAME_PREFIX_TEXT_TXTS
,t7.[val] as AUTHORIZED_OFFICIAL_NAME_SUFFIX_TEXT_TXTS
,t8.[val] as AUTHORIZED_OFFICIAL_TELEPHONE_NUMBER_TXTS
,t9.[val] as AUTHORIZED_OFFICIAL_TITLE_OR_POSITION_TXTS
,t10.[val] as EMPLOYER_IDENTIFICATION_NUMBER_EIN_TXTS
,t11.[val] as ENTITY_TYPE_CODE_TXTS
,t12.[val] as HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_1_TXTS
,t13.[val] as HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_2_TXTS
,t14.[val] as HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_3_TXTS
,t15.[val] as HEALTHCARE_PROVIDER_TAXONOMY_CODE_1_TXTS
,t16.[val] as HEALTHCARE_PROVIDER_TAXONOMY_CODE_2_TXTS
,t17.[val] as HEALTHCARE_PROVIDER_TAXONOMY_CODE_3_TXTS
,t18.[val] as HEALTHCARE_PROVIDER_TAXONOMY_GROUP_1_TXTS
,t19.[val] as HEALTHCARE_PROVIDER_TAXONOMY_GROUP_2_TXTS
,t20.[val] as HEALTHCARE_PROVIDER_TAXONOMY_GROUP_3_TXTS
,t21.[val] as IS_ORGANIZATION_SUBPART_TXTS
,t22.[val] as IS_SOLE_PROPRIETOR_TXTS
,t23.[val] as LAST_UPDATE_DATE_DTM
,t24.[val] as NPI_DEACTIVATION_DATE_DTM
,t25.[val] as NPI_REACTIVATION_DATE_DTM
,t26.[val] as PARENT_ORGANIZATION_LBN_TXTS
,t27.[val] as PARENT_ORGANIZATION_TIN_TXTS
,t28.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_CITY_NAME_TXTS
,t29.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S_TXTS
,t30.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_FAX_NUMBER_TXTS
,t31.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_POSTAL_CODE_TXTS
,t32.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_STATE_NAME_TXTS
,t33.[val] as PROVIDER_BUSINESS_MAILING_ADDRESS_TELEPHONE_NUMBER_TXTS
,t34.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_CITY_NAME_TXTS
,t35.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S_TXTS
,t36.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_FAX_NUMBER_TXTS
,t37.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_POSTAL_CODE_TXTS
,t38.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_STATE_NAME_TXTS
,t39.[val] as PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_TELEPHONE_NUMBER_TXTS
,t40.[val] as PROVIDER_CREDENTIAL_TEXT_TXTS
,t41.[val] as PROVIDER_ENUMERATION_DATE_DTM
,t42.[val] as PROVIDER_FIRST_LINE_BUSINESS_MAILING_ADDRESS_TXTS
,t43.[val] as PROVIDER_FIRST_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS_TXTS
,t44.[val] as PROVIDER_FIRST_NAME_TXTS
,t45.[val] as PROVIDER_GENDER_CODE_TXTS
,t46.[val] as PROVIDER_LAST_NAME_LEGAL_NAME_TXTS
,t47.[val] as PROVIDER_LICENSE_NUMBER_1_TXTS
,t48.[val] as PROVIDER_LICENSE_NUMBER_2_TXTS
,t49.[val] as PROVIDER_LICENSE_NUMBER_3_TXTS
,t50.[val] as PROVIDER_LICENSE_NUMBER_STATE_CODE_1_TXTS
,t51.[val] as PROVIDER_LICENSE_NUMBER_STATE_CODE_2_TXTS
,t52.[val] as PROVIDER_LICENSE_NUMBER_STATE_CODE_3_TXTS
,t53.[val] as PROVIDER_MIDDLE_NAME_TXTS
,t54.[val] as PROVIDER_NAME_PREFIX_TEXT_TXTS
,t55.[val] as PROVIDER_NAME_SUFFIX_TEXT_TXTS
,t56.[val] as PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME_TXTS
,t57.[val] as PROVIDER_OTHER_CREDENTIAL_TEXT_TXTS
,t58.[val] as PROVIDER_OTHER_FIRST_NAME_TXTS
,t59.[val] as PROVIDER_OTHER_LAST_NAME_TXTS
,t60.[val] as PROVIDER_OTHER_LAST_NAME_TYPE_CODE_TXTS
,t61.[val] as PROVIDER_OTHER_MIDDLE_NAME_TXTS
,t62.[val] as PROVIDER_OTHER_NAME_PREFIX_TEXT_TXTS
,t63.[val] as PROVIDER_OTHER_NAME_SUFFIX_TEXT_TXTS
,t64.[val] as PROVIDER_OTHER_ORGANIZATION_NAME_TXTS
,t65.[val] as PROVIDER_OTHER_ORGANIZATION_NAME_TYPE_CODE_TXTS
,t66.[val] as PROVIDER_SECOND_LINE_BUSINESS_MAILING_ADDRESS_TXTS
,t67.[val] as PROVIDER_SECOND_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS_TXTS
FROM 
[BAL_PROVIDER].dbo.[BSET_NPI-NPI-INT] t1
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_CREDENTIAL_TEXT-TXTS]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_FIRST_NAME-TXTS]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_LAST_NAME-TXTS]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_MIDDLE_NAME-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_NAME_PREFIX_TEXT-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_NAME_SUFFIX_TEXT-TXTS]  t7 ON  t7.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_TELEPHONE_NUMBER-TXTS]  t8 ON  t8.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-AUTHORIZED_OFFICIAL_TITLE_OR_POSITION-TXTS]  t9 ON  t9.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-EMPLOYER_IDENTIFICATION_NUMBER_EIN-TXTS]  t10 ON  t10.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-ENTITY_TYPE_CODE-TXTS]  t11 ON  t11.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_1-TXTS]  t12 ON  t12.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_2-TXTS]  t13 ON  t13.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_PRIMARY_TAXONOMY_SWITCH_3-TXTS]  t14 ON  t14.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_CODE_1-TXTS]  t15 ON  t15.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_CODE_2-TXTS]  t16 ON  t16.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_CODE_3-TXTS]  t17 ON  t17.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_GROUP_1-TXTS]  t18 ON  t18.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_GROUP_2-TXTS]  t19 ON  t19.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-HEALTHCARE_PROVIDER_TAXONOMY_GROUP_3-TXTS]  t20 ON  t20.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-IS_ORGANIZATION_SUBPART-TXTS]  t21 ON  t21.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-IS_SOLE_PROPRIETOR-TXTS]  t22 ON  t22.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-LAST_UPDATE_DATE-DTM]  t23 ON  t23.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-NPI_DEACTIVATION_DATE-DTM]  t24 ON  t24.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-NPI_REACTIVATION_DATE-DTM]  t25 ON  t25.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PARENT_ORGANIZATION_LBN-TXTS]  t26 ON  t26.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PARENT_ORGANIZATION_TIN-TXTS]  t27 ON  t27.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_CITY_NAME-TXTS]  t28 ON  t28.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S-TXTS]  t29 ON  t29.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_FAX_NUMBER-TXTS]  t30 ON  t30.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_POSTAL_CODE-TXTS]  t31 ON  t31.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_STATE_NAME-TXTS]  t32 ON  t32.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_MAILING_ADDRESS_TELEPHONE_NUMBER-TXTS]  t33 ON  t33.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_CITY_NAME-TXTS]  t34 ON  t34.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_COUNTRY_CODE_IF_OUTSIDE_U_S-TXTS]  t35 ON  t35.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_FAX_NUMBER-TXTS]  t36 ON  t36.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_POSTAL_CODE-TXTS]  t37 ON  t37.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_STATE_NAME-TXTS]  t38 ON  t38.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_BUSINESS_PRACTICE_LOCATION_ADDRESS_TELEPHONE_NUMBER-TXTS]  t39 ON  t39.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_CREDENTIAL_TEXT-TXTS]  t40 ON  t40.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_ENUMERATION_DATE-DTM]  t41 ON  t41.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_FIRST_LINE_BUSINESS_MAILING_ADDRESS-TXTS]  t42 ON  t42.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_FIRST_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS-TXTS]  t43 ON  t43.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_FIRST_NAME-TXTS]  t44 ON  t44.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_GENDER_CODE-TXTS]  t45 ON  t45.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LAST_NAME_LEGAL_NAME-TXTS]  t46 ON  t46.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_1-TXTS]  t47 ON  t47.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_2-TXTS]  t48 ON  t48.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_3-TXTS]  t49 ON  t49.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_STATE_CODE_1-TXTS]  t50 ON  t50.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_STATE_CODE_2-TXTS]  t51 ON  t51.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_LICENSE_NUMBER_STATE_CODE_3-TXTS]  t52 ON  t52.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_MIDDLE_NAME-TXTS]  t53 ON  t53.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_NAME_PREFIX_TEXT-TXTS]  t54 ON  t54.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_NAME_SUFFIX_TEXT-TXTS]  t55 ON  t55.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME-TXTS]  t56 ON  t56.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_CREDENTIAL_TEXT-TXTS]  t57 ON  t57.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_FIRST_NAME-TXTS]  t58 ON  t58.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_LAST_NAME-TXTS]  t59 ON  t59.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_LAST_NAME_TYPE_CODE-TXTS]  t60 ON  t60.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_MIDDLE_NAME-TXTS]  t61 ON  t61.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_NAME_PREFIX_TEXT-TXTS]  t62 ON  t62.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_NAME_SUFFIX_TEXT-TXTS]  t63 ON  t63.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_ORGANIZATION_NAME-TXTS]  t64 ON  t64.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_OTHER_ORGANIZATION_NAME_TYPE_CODE-TXTS]  t65 ON  t65.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_SECOND_LINE_BUSINESS_MAILING_ADDRESS-TXTS]  t66 ON  t66.[key] = t1.[key]
LEFT OUTER JOIN [BAL_PROVIDER].dbo.[BSET_NPI-PROVIDER_SECOND_LINE_BUSINESS_PRACTICE_LOCATION_ADDRESS-TXTS]  t67 ON  t67.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_WIKI_LEAK-BSET_AFGHAN_WAR_DIARY]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as LINE_NUMBER_INT
,t7.[val] as EVENT_TEXT_TXTL
,t6.[val] as EVENT_TEXT_TXTS
,t4.[val] as INCIDENT_DATE_DTM
,t5.[val] as INCIDENT_DATE_TXTS
,t2.[val] as LATITUDE_FLT
,t3.[val] as LONGITUDE_FLT
FROM 
[BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-LINE_NUMBER-INT] t1
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-LATITUDE-FLT]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-LONGITUDE-FLT]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-INCIDENT_DATE-DTM]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-INCIDENT_DATE-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-EVENT_TEXT-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_AFGHAN_WAR_DIARY-EVENT_TEXT-TXTL]  t7 ON  t7.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_WIKI_LEAK-BSET_IRAQ_WAR_DIARY]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as LINE_NUMBER_INT
,t6.[val] as EVENT_TEXT_TXTL
,t5.[val] as EVENT_TEXT_TXTS
,t4.[val] as INCIDENT_DATE_DTM
,t2.[val] as LATITUDE_FLT
,t3.[val] as LONGITUDE_FLT
FROM 
[BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-LINE_NUMBER-INT] t1
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-LATITUDE-FLT]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-LONGITUDE-FLT]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-INCIDENT_DATE-DTM]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-EVENT_TEXT-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_IRAQ_WAR_DIARY-EVENT_TEXT-TXTL]  t6 ON  t6.[key] = t1.[key];
GO
---------------

CREATE VIEW [BVW_BAL_WIKI_LEAK-BSET_WAR_DIARY_KEYWORD]
AS
SELECT 
t1.[key] as OBJECT_KEY 
,t1.[val] as LINE_NUMBER_INT
,t4.[val] as INCIDENT_DATE_DTM
,t5.[val] as INCIDENT_DATE_TXTS
,t6.[val] as KEY_WORD_TXTS
,t2.[val] as LATITUDE_FLT
,t3.[val] as LONGITUDE_FLT
,t7.[val] as WAR_DIARY_TXTS
FROM 
[BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-LINE_NUMBER-INT] t1
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-LATITUDE-FLT]  t2 ON  t2.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-LONGITUDE-FLT]  t3 ON  t3.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-INCIDENT_DATE-DTM]  t4 ON  t4.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-INCIDENT_DATE-TXTS]  t5 ON  t5.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-KEY_WORD-TXTS]  t6 ON  t6.[key] = t1.[key]
LEFT OUTER JOIN [BAL_WIKI_LEAK].dbo.[BSET_WAR_DIARY_KEYWORD-WAR_DIARY-TXTS]  t7 ON  t7.[key] = t1.[key];
GO
---------------

