create view BVWC_PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME
as
SELECT 
	as_small_text as [PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME],
	COUNT(*) as Cardinality
FROM [BLNS_PROVIDER_RESEARCH].[dbo].[BSET_NPI-PROVIDER_ORGANIZATION_NAME_LEGAL_BUSINESS_NAME]
group by as_small_text